{% extends 'layout.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

 

    <div class="bg bg-secondary text-dark pt-5 pb-5">
        <div class="text-center  pt-5 pb-5">
            <h1 class="display-1 cGreen me-2 ms-2">Dr.Vignesh</h1>
            <p class="fs-4 mt-3">Certified practitioner</p>
            <a type="button" class="btn btn-primary shadow  mt-5" href="{% url 'booking' %}">Online Booking</a>
        </div>
    </div>

 

{% endblock %}